body {
}

#header{
    width: 100%;
    text-align: center;
}

#header h2{
    margin-bottom: 10px;
}

#header h1{
    margin-top: 0px;
}

#makeTimetablesBttn {
    /* Move the button to the right */
    float: right;

    /* Make the button centerish with the search box*/
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;

    /* Make the button bigger */
    width: 30%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    border: 1px, solid, black;
}