<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UofT_Database_Converter.Properties.Settings.UoftDatabaseConnectionString"
            connectionString="Data Source=LAPTOP;Initial Catalog=UoftDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UofT_Database_Converter.Properties.Settings.UofTConnectionString"
            connectionString="Data Source=LAPTOP;Initial Catalog=UofT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>