course-search-bar {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

course-search-bar .searchBox {
    width: 60%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 150%;
}

course-search-bar .searchResults {
    position: fixed;
    overflow-y: auto;
    max-height: 50vh; /* Make the max height 50% of the viewport */
    width: 60%;

    background-color: white;

    /* We add these margins because the <ul> element will be placed to the very left of this element */
    margin-left: 20%;
    margin-right: 20%;

    /* Add the borders */
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}

course-search-bar .searchResults table{
    width: 100%;
}

course-search-bar .searchResults .description {
    position: relative;
    float: left;
    text-align: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

course-search-bar .searchResults .campus {
    position: relative;
    float: right;
    text-align: right;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

course-search-bar .searchResults .selectedCourse{
    background-color: dimgrey;
}

course-search-bar .searchResults .newCourse{
    background-color: none;
}