course-search-bar {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

course-search-bar .searchBox {
    width: 60%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: larger;
}

course-search-bar .searchResults {
    position: relative;
    width: 100%;

    /* We add these margins because the <ul> element will be placed to the very left of this element */
    margin-left: 20%;
    margin-right: 20%;
}

course-search-bar .searchResults ul {
    /* Make the dropdown menu overlay on top of the other elements */
    position: absolute;
    top: 100%;
    width: 60%;
    left: 0px;

    /* Set the size of the results box */
    max-height: 50vh; /* Make the max height 50% of the view port */
    margin-top: 0px;
    padding: 0px;

    /* Enforce the max height and display scroll bars if needed */
    overflow: auto;

    /* Remove any bullet points */
    list-style-type: none;
    border: 1px solid black;
    display: inline-block;
    background-color: white;

    /* Put padding */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

course-search-bar .searchResults li:hover {
    cursor: pointer;
}

course-search-bar .searchResults .description {
    position: relative;
    float: left;
    text-align: left;
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}

course-search-bar .searchResults .campus {
    position: relative;
    float: right;
    text-align: right;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
}