<div>
	<header>Timetables</header>
	<div id="miniTimetablesPanel">
        <div ng-repeat="timetable in timetables track by $index">
            <timetable-preview blocks="timetable.fallTimetableBlocks" colorScheme="sectionColors" chartTitle="Fall" ng-click="openTimetableViewer(timetable, 'Fall')"></timetable-preview>
            <timetable-preview blocks="timetable.winterTimetableBlocks" colorScheme="sectionColors" chartTitle="Winter" ng-click="openTimetableViewer(timetable, 'Winter')"></timetable-preview>
        </div>        
	</div>

    <!-- The overlay (where the timetable viewer will be placed) -->
    <div id="overlayPanel">        
        <a class="closeButton" ng-click="closeTimetableViewer()">X</a>
        <div class="contentsPanel">
            <timetable sessions="selectedTimetable" term="selectedTerm" colorScheme="sectionColors"></timetable>
            <!--<timetable blocks="selectedTimetable" term="Winter" colorScheme="sectionColors"></timetable>-->
        </div>
    </div>
</div>