<div>
	<div id="miniTimetablesViewer">
        <!-- The top header -->
        <div id="headerPanel">
            <span class="headerSides clickable">
                <img src="../../images/menu.png" width="20" height="20" ng-click="toggleSideMenu()"/>
            </span>
            <span id="header">UofT Timetable Generator</span>
        </div>

        <!-- The body -->
        <div id="bodyPanel">

            <!-- The mid header section -->
            <div id="midHeaderPanel">
                <span id="preferencesBttn" class="mid-header-panel-bttn  hoverable clickable" 
                            ng-click="togglePreferencesPanel()">Preferences</span>
                <span id="restrictionsBttn" class="mid-header-panel-bttn hoverable clickable"
                            ng-click="toggleRestrictionsPanel()">Restrictions</span>
                <div id="preferencesPanel" ng-if="isPreferencesPanelOpened">
                    <span>
                        Get the least amount of time between classes
                        <input type="range" min="0" max="100" />
                    </span>
                    <span>
                        Get the least amount of time between classes
                        <input type="range" min="0" max="100" />
                    </span>
                    
                    <input type="range" min="0" max="100" />
                    <input type="range" min="0" max="100" />
                </div>
                <div id="restrictionsPanel" ng-if="isRestrictionsPanelOpened">
                    <div class="property">
                        <span>Max. walk time in back-to-back classes</span>
                        <span>
                            <input type="range" min="0" max="20" value="10" ng-model="maxWalkingTime"/>
                            <span>{{maxWalkingTime + " minutes"}}</span>
                        </span>
                    </div>
                    <div class="property">
                        <span>Earliest class time</span>
                        <span>
                            <input type="range" min="7" max="22" value="9" ng-model="earliestClassTime" />
                            <span>{{earliestClassTime + ":00"}}</span>
                        </span>
                    </div>
                    <div class="property">
                        <span>Latest class time</span>
                        <span>
                            <input type="range" min="7" max="22" value="18" ng-model="latestClassTime" />
                            <span>{{latestClassTime + ":00"}}</span>
                        </span>
                    </div>
                </div>
            </div>

            <!-- The timetables; fall and winter timetables grouped together -->
            <div class="miniTimetablesGroup" ng-repeat="timetable in timetables">
                <div>{{timetable.name}}</div>
                <div class="miniTimetables">
                    <timetable-preview blocks="timetable.fallTimetableBlocks" colorScheme="sectionColors" chartTitle="Fall" ng-click="openTimetableViewer(timetable, 'Fall')"></timetable-preview>
                    <timetable-preview blocks="timetable.winterTimetableBlocks" colorScheme="sectionColors" chartTitle="Winter" ng-click="openTimetableViewer(timetable, 'Winter')"></timetable-preview>
                </div>
            </div>
        </div>   

        <div>
            <button id="regenerateTimetablesBttn" ng-click="generateTimetables()">Regenerate more timetables</button>
        </div>
	</div>

    <!-- The side menu panel -->
    <div id="sideMenuPanel">
        <div class="menuItem">
            <span class="closeSideMenuBttn" ng-click="closeSideMenu()">X</span>
            <h3>Courses</h3>
            <div class="section" ng-repeat="(courseActivity, color) in sectionColors">
                <span class="sectionColor" ng-style="{'background-color': color}"></span>
                <span class="sectionLabel">{{courseActivity.split("|")[0] + ": " + courseActivity.split("|")[1]}}</span>
            </div>
        </div>
        <div class="menuItem">
            <h3>Activities</h3>
        </div>
        <div class="menuItem">
            <h3>Outside courses</h3>
        </div>
        <div class="menuItem">
            <h3>Bookmarks</h3>
            <div class="section hoverable clickable" ng-repeat="timetable in timetables" ng-if="timetable.isBookmarked">
                <span class="bookmarkedTimetable" ng-click="openTimetableViewer(timetable, 'Fall')">{{timetable.name}}</span>
            </div>
        </div>
    </div>

    <!-- The overlay (where the timetable viewer will be placed) -->
    <div id="overlayPanel">        
        <div class="contentsPanel">
            <div id="timetableViewerHeaderPanel">
                <a class="closeButton hoverable clickable" ng-click="closeTimetableViewer()">X</a>
                <h2 id="timetableViewerTitle">{{selectedYearlyTimetable.name}}</h2>
                <span class="viewerBttn  leftViewerBttn hoverable clickable" ng-if="selectedTerm != 'Fall'" ng-click="changeTermInTimetableViewer('Fall')">Fall</span>
                <span class="viewerBttn leftViewerBttn selected" ng-if="selectedTerm === 'Fall'" ng-click="changeTermInTimetableViewer('Fall')">Fall</span>
                <span class="viewerBttn leftViewerBttn hoverable clickable" ng-if="selectedTerm != 'Winter'" ng-click="changeTermInTimetableViewer('Winter')">Winter</span>
                <span class="viewerBttn leftViewerBttn selected" ng-if="selectedTerm === 'Winter'" ng-click="changeTermInTimetableViewer('Winter')">Winter</span>
                <span id="bookmarkBttn" class="viewerBttn hoverable clickable" ng-click="selectedYearlyTimetable.isBookmarked = !selectedYearlyTimetable.isBookmarked">
                    <img ng-if="selectedYearlyTimetable.isBookmarked" src="../../images/bookmark-black-shape.png" height="18"/>
                    <img ng-if="!selectedYearlyTimetable.isBookmarked" src="../../images/bookmark-white.png" height="18" />
                </span>
                <span  id="printBttn" class="viewerBttn hoverable clickable" ng-click="printTimetable(selectedYearlyTimetable)">
                    <img src="../../images/print.png" height="18" />
                </span>
            </div>
            <div id="timetableViewerBody">
                <timetable blocks="selectedTimetableBlocks" colorScheme="sectionColors"></timetable>
            </div>
        </div>
    </div>
</div>