<div>
	<div id="miniTimetablesViewer">
        <!-- The top header -->
        <div id="headerPanel">
            <span class="headerSides">
                <img src="../../images/menu.png" width="20" height="20" ng-click="toggleSideMenu()"/>
            </span>
            <span id="header">UofT Timetable Generator</span>
        </div>

        <!-- The timetables; fall and winter timetables grouped together -->
        <div class="miniTimetablesGroup" ng-repeat="timetable in timetables track by $index">
            <div>{{"Timetable #" + $index}}</div>
            <div class="miniTimetables">
                <timetable-preview blocks="timetable.fallTimetableBlocks" colorScheme="sectionColors" chartTitle="Fall" ng-click="openTimetableViewer(timetable, 'Fall')"></timetable-preview>
                <timetable-preview blocks="timetable.winterTimetableBlocks" colorScheme="sectionColors" chartTitle="Winter" ng-click="openTimetableViewer(timetable, 'Winter')"></timetable-preview>
            </div>
        </div>        

        <div>
            <button id="regenerateTimetablesBttn" ng-click="regenerateTimetables()">Regenerate more timetables</button>
        </div>
	</div>

    <!-- The side menu panel -->
    <div id="sideMenuPanel">
        <div class="menuItem">
            <span class="closeSideMenuBttn" ng-click="closeSideMenu()">X</span>
            <h3>Courses</h3>
            <div class="section" ng-repeat="(courseActivity, color) in sectionColors">
                <span class="sectionColor" ng-style="{'background-color': color}"></span>
                <span class="sectionLabel">{{courseActivity.split("|")[0] + ": " + courseActivity.split("|")[1]}}</span>
            </div>
        </div>
        <div class="menuItem">
            <h3>Activities</h3>
        </div>
        <div class="menuItem">
            <h3>Outside courses</h3>
        </div>
    </div>

    <!-- The overlay (where the timetable viewer will be placed) -->
    <div id="overlayPanel">        
        <a class="closeButton" ng-click="closeTimetableViewer()">X</a>
        <div class="contentsPanel">
            <timetable blocks="selectedTimetable" colorScheme="sectionColors"></timetable>
            <!--<timetable blocks="selectedTimetable" term="Winter" colorScheme="sectionColors"></timetable>-->
        </div>
    </div>
</div>