restrictions-panel {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 20px 20px;
}

restrictions-panel table{
    border-collapse: separate;
    border-spacing: 20px;
}

restrictions-panel input {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    vertical-align: middle;
}