<div>
    <!-- The available preferences -->
    <table>
        <tbody>
            <!-- Morning / afternoon / evening classes -->
            <tr class="preference">
                <td>
                    <span class="label">Class type</span>
                </td>
                <td>
                    <span class="option"
                            ng-class="{'selected' : vm.classType === 'morning', 'hoverable clickable': vm.classType != 'morning'}"
                            ng-click="vm.changeClassType('morning')">Morning</span>
                    <span class="option"
                            ng-class="{'selected' : vm.classType === 'afternoon', 'hoverable clickable': vm.classType != 'afternoon'}"
                            ng-click="vm.changeClassType('afternoon')">Afternoon</span>
                    <span class="option"
                            ng-class="{'selected' : vm.classType === 'evening', 'hoverable clickable': vm.classType != 'evening'}"
                            ng-click="vm.changeClassType('evening')">Evening</span>
                </td>
            </tr>

            <!-- Minimum / maximum amount of walking distance -->
            <tr class="preference">
                <td>
                    <span class="label">Walking distance</span>
                </td>
                <td>
                    <span class="option"
                            ng-class="{'selected' : vm.walkDistance === 'minimum', 'hoverable clickable': vm.walkDistance != 'minimum'}"
                            ng-click="vm.changeWalkDistance('minimum')">Minimum</span>
                    <span class="option"
                            ng-class="{'selected' : vm.walkDistance === 'maximum', 'hoverable clickable': vm.walkDistance != 'maximum'}"
                            ng-click="vm.changeWalkDistance('maximum')">Maximum</span>
                </td>
            </tr>

            <!-- Least / most amount of days with classes -->
            <tr class="preference">
                <td>
                    <span class="label">Days spent in classes</span>
                </td>
                <td>
                    <span class="option"
                            ng-class="{'selected' : vm.numDaysInClass === 'minimum', 'hoverable clickable': vm.numDaysInClass != 'minimum'}"
                            ng-click="vm.changeNumDaysInClass('minimum')">Minimum</span>
                    <span class="option"
                            ng-class="{'selected' : vm.numDaysInClass === 'maximum', 'hoverable clickable': vm.numDaysInClass != 'maximum'}"
                            ng-click="vm.changeNumDaysInClass('maximum')">Maximum</span>
                </td>
            </tr>

            <!-- Least / most amount of time in between classes -->
            <tr>
                <td>
                    <span class="label">Time between classes</span>
                </td>
                <td>
                    <span class="option"
                            ng-class="{'selected' : vm.timeBetweenClasses === 'minimum', 'hoverable clickable': vm.timeBetweenClasses != 'minimum'}"
                            ng-click="vm.changeTimeBetweenClasses('minimum')">Minimum</span>
                    <span class="option"
                            ng-class="{'selected' : vm.timeBetweenClasses === 'maximum', 'hoverable clickable': vm.timeBetweenClasses != 'maximum'}"
                            ng-click="vm.changeTimeBetweenClasses('maximum')">Maximum</span>
                </td>
            </tr>

            <!-- Lunch period -->
            <tr>
                <td>
                    <span class="label">Lunch duration</span>
                </td>
                <td>                        
                    <input type="range" min="0" max="120" value="60" ng-model="vm.lunchPeriod"/>
                    <span class="value">
                        {{vm.lunchPeriod}} minutes per day
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- The Apply / cancel button -->
        <button class="cancel-bttn" ng-click="vm.cancel()">Cancel</button>
        <button class="apply-bttn" ng-click="vm.apply()">Apply</button>
</div>